*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
:root{
    --color-primary: #6f5ed6;
    --color-warning: #f1b640;
    --color-white: #FFFFFF;
    --color-black: #3c3f41;
    --color-dark: #000000;

    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    transition: .4s ease;

    --card-bg-color:#fff;
    --model-bg-color:#fff;
    --bg-transparent-color:
}
html{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    color: var(--color-dark);
    background: var(--color-white);
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    line-height: 130%;
    color: var(--color-black);
}
h1{
    font-size: 60px;
}
h2{
    font-size: 44px;
    position: relative;
    width: fit-content;
    text-align: center;
    color: var(--color-primary);
    margin: auto;
    margin-bottom: 4rem;
}
h2::before{
    content: '';
    width: 80%;
    height: 4px;
    background: var(--color-primary);
    bottom: -10px;
    left: 80%;
    transform: translateX(-70%);
    position: absolute;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 28px;
    color: var(--color-primary);
}
h5{
    font-size: 20px;
}
p{
    font-size: 19px;
    line-height: 150%;
}


.btn{
    width: fit-content;
    display: inline-block;
    padding: 0px  30px;
    background: var(--color-white);
    color: var(--color-black);
    box-shadow: var(--box-shadow);
    font-weight: 500;
    font-size: 19px;
    border-radius: 10px;
    transition: var(--transition);
}
.btn-primary{
    height: 5vh;
    font-weight: 600;
    background: var(--color-primary);
    border: 2px solid transparent;
    color: var(--color-white);
    justify-content: center;
    align-items: center;
}
.btn-primary:hover{
    color: var(--color-primary);
    background: var(--color-warning);
}
.btn a{
    justify-content: center;
    bottom: 10px;
}

.btn:hover{
    background: var(--color-primary);
    color: var(--color-warning);
    border-color: var(--color-warning);
}
.btn-sm{
    padding: 10px 20px;
    border-radius: 0px !important;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
section{
    padding: 7rem 0;
}
/* write code here for navigation icons. */

    /* Start Here From Nav-bar section */
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-white);
        height: 5rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .logo img{
    position: relative;
    right: 10rem;
    width: 20rem; 
    }


/* end here end nav bar */

.nav-link{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
.nav-link li a{
    font-size: 19px;
    font-weight: 500;
    color: var(--color-black);
    position: relative;
}
.nav-link li a::before{
    content: '';
    position: absolute;
    bottom: -6px;
    height: 3px;
    background: var(--color-black);
    width: 0;
    border-radius: 6px;
    transition: var(--transition);
}
.nav-link li a:hover::before{
    width: 100%;
}
.nav-link li .active::before{
    width: 100%;
}
.nav-link li button{
    background: transparent;
    font-size: 22px;
    color: var(--color-black);
}
.nav-link li button:hover{
    transform: scale(1.3) rotate(300deg);
    color: var(--color-primary);
}
/* start here from header section  */
header{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.header-container{
    display: grid;  
    grid-template-columns: 3% auto 20rem;
    gap: 5%;
    align-items: center;
}
.header-social{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: relative;
    top: -1rem;
    padding: 2rem;
}
.header-social a{
    font-size: 25px;
    color: var(--color-black);
    transition: var(--transition);
}
.header-social a:hover{
    color: var(--color-primary);
}
.hero-image img{
    width: 30vw;
    /* margin-right: 30px; */
    position: relative;
    right: 7rem;
}
/* start here from moon efect */
.nightMood{
    --color-white:  #0a071a;
    --color-black: #FFFFFF;
    --color-dark: #FFFFFF;
    box-shadow: 0 2px 4px rgba(97, 97, 97, 0.6); 
}

.light{
    position: relative;
    left: 117px;
}
@media (max-width:1450px) {
    .light{
        position: relative;
        left: 30px;
    }
}

/* start practice navigation bar icons */
.icons{
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}
@media (max-width:1000px) {
.icons{ display: block;
}   
}

/* here we adjust the logo */

@media (max-width:1500px) {
    .logo img{
        width: 15rem;
        left: 3px;
    }
}
@media (max-width:1000px) {
    .logo img{
        width: 20rem;
        left: 15px;
    }
    .nav-link li a  {
        position: absolute;
        top: 100%;
        right: -50rem;
        height: 30vh;        
    }
}
@media (max-width:1000px) {
    .icons{
        position: relative;
        left: 25rem;
        margin: 1px 5px;
    }
}
@media (max-width:950px) {
    .icons{
        position: relative;
        left: 23rem;
        margin: 1px 5px;
    }
}
@media (max-width:890px) {
    .icons{
        position: relative;
        left: 22rem;
        margin: 1px 5px;
    }
}
@media (max-width:840px) {
    .icons{
        position: relative;
        left: 20rem;
        margin: 1px 5px;
    }
}
@media (max-width:775px) {
    .icons{
        position: relative;
        left: 18rem;
        margin: 1px 5px;
    }
}
@media (max-width:745px) {
    .light{
            position: relative;
            left: 5px;       
    }
    .icons{
        position: relative;
        right: 2px;
    }
}
@media (max-width:725px) {
    .icons{
            position: relative;
            left: 15rem;   
    }
    .light{
        position: relative;
        right: 10px;
    }
}
@media (max-width:720px) {
    .light{
        position: relative;
        right: 15rem;
    }
    .logo img{
        width: 15rem;
    }
    .icons{
        position: relative;
        right: 15px;
    }
}
@media (max-width:640px) {
    .light{
        position: relative;
        left: -40px;
    }   
}
@media (max-width:590px) {
    .icons{
        position: relative;
        left: 29%;
    }
    .light{
        position: relative;
        left: -100px;
    }
}
@media (max-width:530px) {
    .light{
        position: relative;
        left: -108px;
    }
}
@media (max-width:510px) {
    .light{
        position: relative;
        left: -108px;
    }
}


